<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 中国消费服务网会员中心</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("主页", "Dashboard", "Dashboard", new { area = "" }, new { @class = "navbar-brand" }) 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@User.Identity.Name, "Account", "Account")</li>
                    <li>@Html.ActionLink("公告", "Noti", "Home")</li>                    
                    <li>@Html.ActionLink("我的工单", "MyIncident", "Incident")</li>
                    <li>@Html.ActionLink("我的订单", "MyOrders", "Orders")</li>
                    <li>@Html.ActionLink("我的兑现卷", "MyCoupon", "Coupon")</li>
                    <li>@Html.ActionLink("我的电子钱包", "MyWallet", "Wallet")</li>
                    <li>@Html.ActionLink("资源中心", "Resourcecenter", "Home")</li>
                    <li>@Html.ActionLink("退出", "Logout", "Home")</li>
                    
                </ul>
               
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                &copy; @DateTime.Now.Year -中财卓创智源（北京）科技有限公司  京ICP证101008号 | 京ICP备12014530号  
            </div>
        </nav>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
